{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<br><br>

		<div class="row bottom double">
			<div class="columns text-center small-12">
				<h1 class="article-h1">{{page_title}}</h1>
			</div>
		</div>

		<div class="fields">

			{% for field in fields %}
				{% include "_field-form.twig" with { 'panel_id' : field.ID } %}
			{% endfor %}

			{% if fields|length == 0 %}
				{% include "_field-form.twig" with { 'active' : 'active' } %}
			{% endif %}

		</div>

		<div class="field-matrix hide">
			{% include "_field-form.twig" with { 'active' : 'active', 'style' : 'display: none;' } %}
		</div>

		<div class="category-matrix hide">
			{% include "_field-type-category.php" with { 'index' : 0 } %}
		</div>


		<div class="row">

			<div class="small-12 text-right columns">
				<button class="button primary-dark add-field">Adicionar Campo</button>
			</div>
		</div>

	</div> <!-- /content-wrapper -->

{% endblock %}
