{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<br><br>

		<div class="row bottom double">
			<div class="columns text-center small-12">
                <h1>Formulário do dicionário das bases de dados</h1>
                <br>
				<h2 class="article-h1">{{page_title}}</h2>
                <br>
                <p>Caso não tenha acesso às variáveis da base de dados, considere as variáveis dos arquivos de exportação.
                <br>Um ID de base de dados pode conter mais de um arquivo de dados e/ou mais de um arquivo de exportação.
                <br>Assim, relacione o "Nome do arquivo de dados" ou o "Nome do arquivo de exportação" com suas respectivas variáveis.</p>
			</div>
		</div>

		<div class="fields">

			{% for field in fields %}
				{% include "_field-form.twig" with { 'panel_id' : loop.index } %}
			{% endfor %}

			{% if fields|length == 0 %}
				{% include "_field-form.twig" with { 'panel_id' : 1 , 'active' : 'active' } %}
			{% endif %}

		</div>

		<div class="field-matrix hide">
			{% include "_field-form.twig" with { 'active' : 'active', 'style' : 'display: none;', 'panel_id' : '#PANEL_ID#' } %}
		</div>

		<div class="category-matrix hide">
			{% include "_field-type-category.php" with { 'index' : 0 } %}
		</div>


		<div class="row">

			<div class="small-12 text-right columns">
				<button class="button primary-dark add-field">Adicionar Campo</button>
			</div>
		</div>

	</div> <!-- /content-wrapper -->

{% endblock %}
