{% extends "base.twig" %}

{% block content %}


	<div class="bdid">

		<br><br>

		<div class="row">

			<div class="columns small-12">

				<div class="panel text-center radius">
					<div class="row bottom double">
				  		<h1>Selecione o ID do Banco de Dados</h1>
					</div>

					<form method="GET" action="bd">
					  <div class="row">
					    <div class="small-12 medium-10 medium-centered columns">
					      	<div class="row">
					        	<div class="small-12 medium-10 medium-centered columns">
						        	<select name="bdid">
                                    {% for i in 1..600 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
						        	</select>
						        </div>
						    </div>
						    <div class="row">
						        <div class="small-12 medium-10 medium-centered columns">
						        	<button class="right">Selecionar</button>
						        </div>
					      	</div>
					    </div>
					  </div>
					</form>

				</div>

			</div>

		</div>

	</div>


	<!-- <h2>{{foo}}</h2> -->
	<!-- <p>{{qux}}</p> -->
	{% for post in posts %}
		<!-- {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %} -->
	{% endfor %}

{% endblock %}
