@charset "UTF-8";
/*
 * Cria um background com duas cores. Por padrão, a divisão entre as cores
 * fica no centro do elemento, mas isso pode ser ajustado através do terceiro
 * parâmetro da função ($position).
 *
 * Obs.: O background gerado não é um gradiente, a transição entre as cores é
 * "seca".
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\000037}}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000314}}
fieldset {
  border: 0 none;
  clear: both;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000321}}
a.alert {
  color: #f04124 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000325}}
button.gray, .button.gray {
  background-color: #c5c5c5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000329}}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000338}}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000345}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000353}}
.row.bottom {
  margin-bottom: 10px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000356}}
.row.bottom.double {
  margin-bottom: 20px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000365}}
.accordion dd > a {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000368}}
.accordion dd > a em {
  display: none;
  font-size: 10px;
  font-style: normal;
  float: right;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000376}}
.accordion dd > a:after {
  color: #999999;
  content: "+";
  font-size: 20px;
  position: absolute;
  right: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\0000388}}
.accordion dd.active > a:after {
  content: "-";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\00003107}}
.type.category .categories {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\00003116}}
.secrecy .incise {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/dan\/cmbd\/wp-content\/themes\/cmbd\/assets\/styles\/main\.scss}line{font-family:\00003123}}
.secrecy.yes .incise {
  display: block;
}
